.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_text {
  font-size: 20px;
}

.form_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.text {
  color: #8e8e8e;
}