.card {
  position: relative;
  width: 320px;
  height: 50px;
  margin-block-start: 10px;
  background: transparent;
  color: #2b2b2b;;
  font-weight: normal;
  display: flex;
  border-radius: 10px;
  border: 1px solid rgb(99, 102, 255);
  justify-content: space-around;
  align-items: center;
}

.title {
  margin-right: 50px;
}

.close_button {
  position: absolute;
  right: 30px;
  color: rgb(255, 99, 99);
  cursor: pointer;
}

.close_button:hover {
  transform: scale(1.2);
}

.input {
  text-align: center;
  height: 60%;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #C7C7C7;
}

.button_wrap {
  display: flex;
  gap: 20px;
} 

.button_wrap span {
  cursor: pointer;
  font-size: 16px;
}

.button_wrap span:hover {
  transform: scale(1.2);
}

.update_button {
  color: rgb(55, 170, 55);
}

.cancel_button {
  color: rgb(255, 99, 99);;
}